@charset "UTF-8";


body, html {
	width: 100%;
	margin: 0;
	padding: 0;
}


div, p, ul ,li, a, h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
}

.clear {
	float: none;
	clear: both;
}

#wrapper {
	width: 95%;
	margin: auto;
	position: relative; 
	background-color: #f5f5f5;
}

.container {
	position: relative; 
	width: 100%;
	height: 100%;
	align: center;
}

.nav { 
	font-family: avenir;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	background-color: #FFFFFF;
	height: 90px;
	padding: 35px 10% 0px; 
}

.nav ul {
	display: inline-flex;
	
	color: #A8A8A8;
	float: right;
}

.nav li { 
	list-style: none;	
	justify-content: space-around;
	margin-left: 80px;
}

.nav li:last-child { 
	margin-left: none;
}

.nav li a {  
	color: #A8A8A8;
}

.nav li a:hover {
    color: #F6B452;
	text-decoration: underline;
}

.logo {
	float: left; 
}

.logo img{
	height: 24px;
}

.cta-btnmain {
	font-family: avenir;
	color: white;
	font-size: 16px;
	background: #F6B452;
	border: none;
	outline: none;
	border-radius: 4px;
	padding: 12px 24px;
	cursor: pointer;
	transition: all 200ms ease-in;
	position: relative; 
    top: -13px;
}

.cta-btnmain:hover {
	background: black;
	color: white;
}


.content {
	position: relative;
	padding: 100px 15%;
}

.hero {

	font-family: avenir;
}

.hero h1 {
	font-size: 72px;
	position: relative;
}

.hero h5 {
	font-size: 20px;
	color: #F6B452;
	letter-spacing: 5px;
}

.hero p {
	font-size: 24px;
	padding: 48px 0px;
}

.featured {
	font-family: avenir;
	
	
}
.featured h6 {
	font-size: 16px;
	color: #A4A4A4;
	letter-spacing: 6px;
	left: 230px;
}

.image-holder {
	height: 500px;
    background-color: #A4A4A4;
	margin: 20px 0px;
	border-radius: 10px;
	position: relative;
	cursor: pointer;
}

.view-work {
	opacity: 0;
	width: 100%;
    position: absolute;
    height: 100%;
    text-align: center;
	background-color: #c3c3c399;
	border-radius: 10px;
	transition: 1s;
}

.view-work a {
	position: relative;
    top: 45%;
    padding: 20px;
    border-radius: 5px;
}

.howlr {
	background: url('./Images/chilisweb.png') no-repeat;
	background-position: center;
	background-size: cover;
}

.howlr-work a {
	background-color: #000000;
    color: #fff;
}

.howlr:hover .howlr-work{
	opacity: 1;
}

.paymaya {
	background: url('./Images/ppdweb.png') no-repeat;
	background-position: center;
	background-size: cover;
}

.paymaya-work a {
	background-color: #000000;
    color: #fff;
}

.paymaya:hover .paymaya-work{
	opacity: 1;
}

.tack {
	background: url('./Images/howlr\ work.png') no-repeat;
	background-position: center;
	background-size: cover;
}

.tack-work a {
	background-color: #000000;
    color: #fff;
}

.tack:hover .tack-work{
	opacity: 1;
}

.tackthis {
	background: url('./Images/paymaya\ work.png') no-repeat;
	background-position: center;
	background-size: cover;
}

.tackthis a {
	background-color: #000000;
    color: #fff;
}

.tackthis:hover .tackthis-work{
	opacity: 1;
}

.cta {
	text-align: center;
	font-family: avenir;
}
.cta h2 {
	font-size: 30px;
}
.cta p {
	font-size: 28px;
}
.cta p a:link {
	text-decoration: none;
	color: black;
}
.cta p a:hover {
	text-decoration: underline;
	color: #F6B452;
}


.rightarrow {
	height: 15px;
	padding-left: 4px;
	padding-bottom: 2px;
}


footer .nav {
	background-color: transparent;
	font-family: avenir;
}

footer .nav p {
	float: left;
}

footer .nav li {
	margin-left: 30px;
	list-style-type: disc;
}

footer .nav li:hover {
	margin-left: 30px;
	list-style-type: disc;
	text-decoration: underline;
	color: #F6B452;
	
}

footer .nav li:first-child {
	list-style-type: none;
}

footer .nav li a {
    color: #A8A8A8;
}


.mobile {
	display: none;
}


@media only screen and (max-width: 768px) {
	
	header .nav ul {
		display: none;
		position: absolute;
		right: 0;
		text-align: center;
		margin-right: 10%;
		top: 70px;
		background-color: rgb( 255, 255, 255);
		padding: 5px 10px;
		width: 75%;
		height: 15%;
		justify-content: center;
		align-items: center;
		z-index: 4;
	}

	header .nav ul li {
		padding-top: 60px;
		padding-bottom: 10px;
		margin-left: 0px;
	}
	
	header .nav ul li button {
		padding: 15px 20px;
		top: 0px;
	}

	.mobile {
		display: block;
		float: right;
		cursor: pointer;
	}

	.hamburger {
		position: relative;
		display: inline-block;
		width: 1.25em;
		height: 0.8em;
		margin-right: 0.3em;
		border-top: 0.2em solid rgb(15, 15, 15);
		border-bottom: 0.2em solid rgb(61, 61, 61);
	}
	
	.hamburger:before {
		content: "";
		position: absolute;
		top: 0.3em;
		left: 0px;
		width: 100%;
		border-top: 0.2em solid rgb(15, 15, 15);
	}

	.image-holder {
		height: 250px;
	}

	footer .nav {
		text-align: center;
	}

	footer .nav p, footer .nav ul {
		float: none;
		padding-bottom: 20px;
	}

	footer .nav ul li:first-child {
		margin-left: 0;
	}

}

@media only screen and (max-width: 361px) {
	
	#wrapper {
	width: 100%;
	margin: auto;
	position: relative; 
	background-color: #f5f5f5;
}
	
	header .nav ul li {
		padding-bottom: 10px;
		margin-left: 0px;
	}


	header .nav ul li button {
		padding: 8px 20px;
		top: 0px;
	}

	.mobile {
		display: block;
		float: right;
		cursor: pointer;
	}

	.hamburger {
		position: relative;
		display: inline-block;
		width: 1.25em;
		height: 0.8em;
		margin-right: 0.3em;
		border-top: 0.2em solid rgb(15, 15, 15);
		border-bottom: 0.2em solid rgb(61, 61, 61);
	}
	
	.hamburger:before {
		content: "";
		position: absolute;
		top: 0.3em;
		left: 0px;
		width: 100%;
		border-top: 0.2em solid rgb(15, 15, 15);
	}

	.image-holder {
		height: 250px;
	}

	footer .nav {
		text-align: center;
	}

	footer .nav p, footer .nav ul {
		float: none;
		padding-bottom: 20px;
	}

	footer .nav ul li:first-child {
		margin-left: 0;
	}
	
}